
.header-section {
	background: $secondary;

	.user-top {
		float: right;
		position: relative;
		right: 15px;
		top: 10px;
		background: $primary;
		padding: 10px;
		border-radius: 5px;

		i {
			font-size: 28px;
			color: white;
			margin-bottom: 0;
			margin-right: 5px;

			&:last-child {
				margin: 0;
			}
		}
	}
}

.navigation-bar {
	border-radius: 0;
	background: $primary;
	margin: 0;

	.navigation-bar-section {
		max-width: 960px;
		display: block;
		margin: 0 auto;
		border-left: 2px solid white;
		border-right: 2px solid white;

		ul {

			li {
				padding: 14px 13.4px;

				a {
					transition: 0.3s ease;
					color: white;
					font-size: 16px;
					text-decoration: none;
					padding: 15px 36px;
					margin: 0 10px;

					&:hover {
						border-top: 3px solid white;
						border-bottom: 3px solid white;
						padding: 5px 36px;
					}
				}
			}
		}

		.dropdown-menu {
			font-size: 13px;
			text-align: center;
			margin-top: 1px!important;
			border: none;
			min-width: 175px;
			border-radius: 0;

			a {
				float: left;
				width: 100%;
				padding:3px 0;
				font-size: 13px;
				margin: 0;
				transition: 0s;
				border: none!important;

				&:hover {
					background: none;
					padding: 0;
				}
			}
		}
	}
}
