
.homepage-body-content, .blog-posts-body-content, .channel-1-body-content {
	max-width: 960px;
	margin: 0 auto;
	width: 100%;

	.homepage-body-wrapper {
		padding-top: 25px;
	}

	.single-block-wrapper {
		min-height: 170px;
		border-bottom: 2px solid $secondary;
		padding-top: 20px;

		h2 {
			font-size: 28px;
			text-transform: capitalize;
			color: $primary;
			width: 100%;
			text-align: left;
			margin: 0 0 5px;
		}

		span {
			width: 100%;
			font-size: 16px;
			font-weight: 500;
			color: $secondary;
		}

		p {
			float: left;
			width: 100%
		}

		b, a {
			float: left;
			font-size: 18px;
			margin-bottom: 10px;
			color: $primary;

			&:hover {
				text-decoration: none;
				color: $secondary;
			}
		}

		img {
			margin: 0 auto;
			width: 200px;
		}
	}
}
