$primary: #275568;
$secondary: #459DAB;


html, body {
	height: 100%;
}

body {
	background: $primary;
	font-size: 15px;
	letter-spacing: 0.5px;
	overflow-x: hidden;
}

h1 {
	color: #3A353A;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 32px;

	@include media-query(max, 450) {
		font-size: 28px;
	}

}

h2 {
	font-size: 28px;

	@include media-query(max, 450) {
		font-size: 22px;
	}
}

h3 {
	font-size: 24px;

	@include media-query(max, 450) {
		font-size: 18px;
	}

}

h4 {
	font-size: 20px;
}

p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	word-spacing: 3px;
}

h1, h2, h3, h4 {
	margin: 20px 0;
	text-transform: capitalize;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	word-spacing: 3px;
	text-align: center;
}

a {

	color: white;

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

ul {
	display: block;
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start:0;
	-moz-margin-start: 0;
	-moz-padding-end: 0;
	-moz-padding-start: 0;

}

li {
	display: inline-block;
	text-align: left;
	float: left;
	padding: 17px 10px;
}
